<div class="float-right">
  <ng-container *ngIf="isLoggedIn$ | async as loggedIn; else loginBtn">
    <button class="btn btn-danger" (click)="logOut()">Log Out</button>
  </ng-container>
  <ng-template #loginBtn>
    <button class="btn btn-primary" (click)="logIn()" >Log In</button>
  </ng-template>

</div>
<nav class="nav">
  <a class="nav-link" routerLink="/"
     [routerLinkActiveOptions]="{exact: true}"
     routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
  <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
  <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>
