

<app-article-frame appHighlight="highlight"
                   #directive="highlightDirective">
  <app-text-article *ngIf="article.type === 'text'"></app-text-article>

  <app-image-article *ngIf="article.type === 'image'"></app-image-article>
  <div class="article-body" #body>
    <div *ngIf="showFullArticle" class="avatar float-left mr-2"><img [src]="article.avatar"></div>
    <div  *ngIf="showFullArticle" class="description">{{article.description}}</div>
    <div  *ngIf="showFullArticle" class="created">{{article.created | date}}</div>
  </div>
  <h4  (click)="toggle()" class="title">{{article.title}}</h4>
  <button (click)="directive.changeBackground('red')">Change to red</button>
</app-article-frame>
